.code-input {
    border-radius: 5px;
    resize: none;
    width: 50%;
    aspect-ratio: 2 / 1;
    border: 2px black solid;
}

.code-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#runCode {
    width: 200%;
    height: 100%;
    padding: 5% 0;
    background-color: aqua;
    border: 2px black solid;
    border-radius: 3px;
}

#debugCode {
    width: 200%;
    height: 100%;
    padding: 5% 0;
    background-color: aqua;
    border: 2px black solid;
    border-radius: 3px;
}

#debugList {
    display: none;
    text-align: center;
}

.console {
    width: 50%;
    aspect-ratio: 2 / 1;
    background-color: black;
    color: #5eca00;
    border-radius: 5px;
    padding: 2%;
    font-family: 'Open Sans';
    font: 30px; 
    font-weight: bold;
}

.console-btn-col {
    display: grid;
}